*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
h1{
    transform: translateX(-100%);
}
a{
    text-decoration: none;
    color: #fff;
}
/* banner */
.header{
    background: rgba(255, 255, 255, .15);
    width: 100%;
    position: absolute;
    top: 0px;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.logo_h{
    background-image: url("../images/logo_00.png");
    width: 280px;
    height: 90px;
}
.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav li{
    float: left;
    padding-left: 40px;
}
.nav li a{
    display: block;
    padding-top: 15px;
    padding-bottom: 19px;
}
.nav li a:hover{
    color: #ffcb05;
}
.catalog{
    margin-left: 10px;
    margin-right: 50px;
    padding: 15px 28px 19px 28px;
    background-color: #ffcb05;
    border:1px solid #ffcb05;
    color: #fff;
    transition: .3s;
}
.catalog:hover{
    background-color: #fff;
    color: #ffcb05;
}
.img_01, .img_02, .img_03, .img_04 {
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img_01 {
    background-image: url(../images/01banner01.png);
    align-items: center;
}
.img_02 {
    background-image: url(../images/01banner02.png);
    align-items: flex-start;
    padding-left: 15%;
    color: #000;
}
.img_03 {
    background-image: url(../images/01banner03.png);
    align-items: flex-start;
    padding-left: 60%;
}
.img_04 {
    background-image: url(../images/01banner04.png);
    align-items: flex-start;
    padding-left: 60%;
    color: #000;
}
.btn01{
    background-image: url("../images/btn01.png");
    width: 175px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.btn01:hover{
    background-image: none;
    background-color: #f5c520;
}
.scroll_down
{
    width: 60px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    bottom: 48px;
    left: calc(50% - 30px);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #f0f0f0;
}
/* products */
.page01 .products_h{
    font-size: 35px;
    margin-bottom: 35px;
    color: #313131;
}
.page01{
    display: flex;
    justify-content: center;
    align-content: stretch;
    /*align-items: center;*/
    background-color:#fff;
    position: relative;
    padding: 90px 0;

}
.page01:before{
    content: "";
    width: 100%;
    height: 340px;
    background-color: #f5f7fa;
    position: absolute;
    bottom: 0px;
}
.page01 .content{
    padding-left: 120px;
    width: 480px;
    z-index: 1;
}
.page01 .text{
    width: 380px;
    color: #626262;
    line-height: 1.5;
    margin-bottom: 50px;
}
.page01 .page_header span{
    color: #626262;
}
.page02 .h2{
    font-size: 35px;
    margin-bottom: 35px;
    color: #fff;
}
.page02{
    display: flex;
    justify-content: center;
    align-content: stretch;
    /*align-items: center;*/
    background-color:#363e45;
    position: relative;
    padding: 90px 0;
}
.page02:before{
    content: "";
    width: 100%;
    height: 340px;
    background-color: #404a52;
    position: absolute;
    bottom: 0px;
}
.page02 .content{
    padding-left: 120px;
    width: 480px;
    z-index: 1;
}
.page02 .text{
    width: 380px;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 50px;
}
.page02 .page_header span{
    color: #fff;
}
.page02 .discover_hover div{
    color: #fff;
}
.page02 .discover_line{
    background-color: #fff;
}
.page03{}
.icons .item_box{
    width: 480px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
}
.page_header{
    display: flex;
    align-items: center;
    margin-left: -120px;
}
.page_icon{
    background-image: url("../images/icon01.png");
    width: 85px;
    height: 85px;
    margin-right: 20px;
}
.item{
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item_bg{
    width: 60px;
    height: 60px;
    background-color:#ffcb05;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}
.itme_border{
    width: 50px;
    height: 50px;
    background-color:#ffcb05;
    border-radius: 10px;
    border: 1px solid #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itme_content{
    color:#fff;
    font-size: 20px;
}
.itme_content span{
    font-size: 10px;
}
.item_lab{
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    text-align: center;
}

.pic_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.pic01{
    background-image: url("../images/img01.png");
    height: 400px;
    width: 490px;
    position: relative;
}
.pic01:before{
    content: "";
    width: 425px;
    height: 615px;
    background-image: linear-gradient(to right bottom, #35DDDA 0%, #4A91EE 100%);
    position: absolute;
    top: 0;
    right:0;
    z-index: -1;
    margin-top: -90px;
    margin-right: -115px;
}
.pic02{
    background-image: url("../images/img02.png");
    height: 360px;
    width: 490px;
    position: relative;
}
.pic02:before{
    content: "";
    width: 425px;
    height: 615px;
    background-image: linear-gradient(to right bottom, #35DDDA 0%, #4A91EE 100%);
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
    margin-top: -90px;
    /*margin-right: -115px;*/
}
.discover_line{
    height: 2px;
    width: 70px;
    background-color: #000;
}
.discover_hover{
    width: 215px;
    height: 40px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.discover_hover:hover{
    flex-direction: row-reverse;
}
/* products - page03 */
.page03{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
}
.p3_h1{
    font-size: 35px;
    margin:10px;
}
.p3_h2{
    width: 430px;
    text-align: center;
    line-height: 1.5;
}
.product_box{
    display: flex;
}
.product_box button{
    background-color: #fff;
    border: 0;
    color: #d7d7d7;
}
.product_box button:hover{
    color: #396576;
}
.product_items{
    width: 1200px;
}
.card_box a{
    height: 500px;
    color: #000;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}
.item_01, .item_02, .item_03{
    width: 385px;
    height: 350px;
    margin: auto;
    background-size: cover;
    background-position: center center;
}
.item_01 {
    background-image: url(../images/img03.png);
}
.item_02 {
    background-image: url(../images/img04.png);
}
.item_03 {
    background-image: url(../images/img05.png);
}
.item_b.active{
    border-radius: 50%;
    border: 1px solid #f0f0f0;
    overflow: hidden;
}
.item_f{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    color: #000;
    transform: translateY(280px);
}
.item_f.active{
    transform: translateY(150px);
    background-color: #fbcf37;
    opacity: 0.9;
    color: #fff;
}
.item_f:before{
    content: "";
    width: 1px;
    height:70px;
}
.item_f:after{
    content: "";
    width: 1px;
    height:70px;
    margin: 20px;
    background-color: #fff;
}
/* about */
.about_bg{
    background-image: url("../images/03about_01.png");
    width: 100%;
    height: 840px;
    position: relative;
}
.about_box{
    width: 650px;
    height: 715px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    bottom: 0;
    padding: 74px 85px;
    box-sizing: border-box;
}
.about_box1 div:nth-child(1){
    color: #ffd947;
}
.about_box1 div:nth-child(2){
    color: #313131;
    font-size: 48px;
    margin-top: 16px;
    margin-bottom: 28px;
}
.about_box1 div:nth-child(3){
    color: #626262;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 50px;
}
.about_box2 div{
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 25px;
}
.about_box2 ul{
    color: #ffcb05;
    padding-left: 15px;
}
.about_box2 ul p{
    color: #626262;
    margin-bottom: 10px;
}
.about_box3{
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
}
.cert01{
    background-image: url("../images/icon03.png");
    width: 72px;
    height: 76px;
    margin-right: 35px;
}
.cert02{
    background-image: url("../images/icon04.png");
    width: 76px;
    height: 76px;
    margin-right: 35px;
}
.cert03{
    background-image: url("../images/icon05.png");
    width: 112px;
    height: 76px;
    margin-right: 35px;
}
.about_box .discover_hover{
    clear: both;
}
/* news */
.news{
    width: 100%;
    height: 730px;
    position: relative;
}
.news .content{
    width: 100%;
    height: 456px;
    background-color: #f5f7fa;
    position: absolute;
    bottom: 63px;
    margin-left: -257px;
}
.news .content_box{
    margin-left: 257px;
    display: flex;
    justify-content: center;
}
.news .content_right{
    font-size: 38px;
    position: absolute;
    top: -38px;
    right: 0px;
    color: #dcdcdc;
}
.news .content_btn{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.content_box1{
    margin-top: -115px;
}
.box1_h{
    display: flex;
    align-items: flex-end;
}
.box1_h .page_icon{
    margin-top: -55px;
    margin-right:-20px;
    margin-bottom: 55px;
    margin-left: -65px;
}
.pic07{
    background-image: url("../images/img07.png");
    width: 260px;
    height: 26px;
    margin-bottom: 35px;
}
.pic06{
    background-image: url("../images/img06.png");
    width: 603px;
    height: 430px;
}
.news .content_box2{
    width: 350px;
    padding: 70px 30px 70px 30px;
}
.news .content_box2 div:nth-child(1){
    font-size: 14px;
    color: #ffcb05;
}
.news .content_box2 > div:nth-child(2){
    font-size: 32px;
    color: #000;
    margin: 28px 0px;
}
.news .content_box2 p{
    width: 350px;
    font-size: 15px;
    color: #6c6c6c;
    line-height: 1.5;
    margin-bottom: 60px;
}
.news .discover_hover div{
    font-size: 15px;
}
/* footer */
.footer{
    background-image: url("../images/06footer.png");
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}
.footer_btn{
    width: 60px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    right: 122px;
    bottom: 86px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #f0f0f0;
}
.logo_f{
    background-image: url("../images/logo_01.png");
    height: 38px;
    width: 288px;
    margin: 53px 0 42px 0;
}
.footer, .footer_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_content div > span{
    display: inline-block;
    margin: 0 12px 18px 12px;
    font-size: 14px;
    color: #aeccdd;
    font-weight: bold;
}
.copy_right{
    margin-top: 19px;
    margin-bottom: 32px;
    font-size: 13px;
    color: #4d96b0;
}